
.logo-img { height: 140px; }
.mobile-menu-icon { font-size: 30px; align-self: center; }
.hero-content h1 { font-size: 60px; text-shadow: 2px 2px 8px black; }
.flags-bar img { cursor: pointer; margin: 5px; }
